# dependencies
node_modules/

# environment variables
.env
.env.production

# databases
*.db
*.db-journal

# build output
dist/
.generated/

# prisma generated
backend/generated/
backend/prisma/generated/

# astro generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# jetbrains
.idea/

# vscode
.vscode/